
  
  .navcontainer {
    display: flex;
  }
  
  .logo-thumbnail {
    margin: 40px 40px;
    width: 500px;
  }
  
  hr {
    height:5px;
    background:black;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
  }
  
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 3% 100px 0 0;
  }
  
  .nav-items {
    margin: 7%;
    font-size: 20px;
  }
  
  .nav-items:hover {
    background-color: yellow;
    font-weight: bold;
  
  }
  
  .cart-summary {
    display: flex;
    flex-direction: column;
  }
  
  .cart-summary-items {
    margin: -2px 7%;
    text-align: right;
  }
  
  
  .phrase {
    font-size: 200%;
    padding: 50px 0px;
  }
  